{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>WEB PORTFOLIO</h1>
<h5>I'm a software engineer blending my background in mathematics and computer science to specialize in software engineering, particularly as a Django developer. I thrive on applying my analytical mindset and problem-solving skills to create innovative web applications using Django's robust framework.

In my current role, I'm deeply engaged in leveraging Django's features to streamline development processes and ensure clean, efficient code. I'm committed to writing maintainable software solutions while paying meticulous attention to detail to guarantee reliability and performance.

Collaboration is key in my work. I actively engage with my colleagues, fostering a collaborative environment where we brainstorm ideas, troubleshoot issues, and deliver high-quality results together. Effective teamwork is fundamental to achieving project goals efficiently.

I'm also dedicated to continuous learning, always seeking opportunities to expand my knowledge and stay up-to-date with the latest advancements in software engineering. Whether it's exploring new frameworks, mastering emerging technologies, or refining my existing skills, I approach learning with enthusiasm and a growth mindset.

Overall, as a software engineer, I bring a unique blend of mathematical prowess, computer science expertise, and Django development skills to the table. With my passion for innovation and commitment to excellence, I'm poised to make significant contributions to the field of software engineering.</h5>

<div class="row">
    <div class="col-md-4">
        <img src="{% static 'images/ed.jpeg' %}" width="350" height="350">
        <h5>NAME: IKHUMWA EDMOND MULERA</h5>
        <p></p>
        <br>
        <h5>Technology </h5>
        for p
        <p>{ fetch.title}}{</p>
    </div>
</div>

{% endblock content %}